In [1]:
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore',category=DeprecationWarning)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, RepeatedKFold, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_absolute_percentage_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, MinMaxScaler
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.inspection import permutation_importance
import time
import xgboost as xgb

In [2]:
data = pd.read_csv("output.csv")
df = data.drop(['Time'], axis=1)
number_of_houses = len(df.columns)
df

       PT41CV  PT44AL  PT15VP  PT69QG  PT43QL  PT17RW  PT87ZW
0       0.028   0.452   0.000   0.828   0.128   0.056   0.552
1       0.080   0.440   0.000   0.796   0.160   0.056   0.492
2       0.092   0.424   0.000   0.832   0.220   0.056   0.308
3       0.040   0.408   0.000   0.800   0.404   0.088   0.156
4       0.076   0.396   0.000   0.836   0.156   0.116   0.160
...       ...     ...     ...     ...     ...     ...     ...
35027   0.120   0.448   0.108   0.220   0.164   0.144   0.368
35028   0.036   0.424   0.124   0.252   0.228   0.164   0.396
35029   0.064   0.392   0.148   0.268   0.224   0.220   0.356
35030   0.132   0.260   0.132   0.276   0.212   0.176   0.392
35031   0.180   0.332   0.088   0.288   0.148   0.132   0.356

[35032 rows x 7 columns]

In [19]:
house_list = []
test = pd.DataFrame(data['Time'])
for i in df:
    test = pd.concat([pd.DataFrame(data['Time']), df[i]], axis=1)
    test = test.rename(columns={i: 'Energy'})
    test['Location'] = i
    house_list.append(test)

In [20]:
house_list

[                      Time  Energy Location
 0      2021-11-01 00:15:00   0.028   PT41CV
 1      2021-11-01 00:30:00   0.080   PT41CV
 2      2021-11-01 00:45:00   0.092   PT41CV
 3      2021-11-01 01:00:00   0.040   PT41CV
 4      2021-11-01 01:15:00   0.076   PT41CV
 ...                    ...     ...      ...
 35027  2022-10-31 23:00:00   0.120   PT41CV
 35028  2022-10-31 23:15:00   0.036   PT41CV
 35029  2022-10-31 23:30:00   0.064   PT41CV
 35030  2022-10-31 23:45:00   0.132   PT41CV
 35031  2022-11-01 00:00:00   0.180   PT41CV

 [35032 rows x 3 columns],
                       Time  Energy Location
 0      2021-11-01 00:15:00   0.452   PT44AL
 1      2021-11-01 00:30:00   0.440   PT44AL
 2      2021-11-01 00:45:00   0.424   PT44AL
 3      2021-11-01 01:00:00   0.408   PT44AL
 4      2021-11-01 01:15:00   0.396   PT44AL
 ...                    ...     ...      ...
 35027  2022-10-31 23:00:00   0.448   PT44AL
 35028  2022-10-31 23:15:00   0.424   PT44AL
 35029  2022-10-31 23:30:00   0.392   PT44AL
 35030  2022-10-31 23:45:00   0.260   PT44AL
 35031  2022-11-01 00:00:00   0.332   PT44AL

 [35032 rows x 3 columns],
                       Time  Energy Location
 0      2021-11-01 00:15:00   0.000   PT15VP
 1      2021-11-01 00:30:00   0.000   PT15VP
 2      2021-11-01 00:45:00   0.000   PT15VP
 3      2021-11-01 01:00:00   0.000   PT15VP
 4      2021-11-01 01:15:00   0.000   PT15VP
 ...                    ...     ...      ...
 35027  2022-10-31 23:00:00   0.108   PT15VP
 35028  2022-10-31 23:15:00   0.124   PT15VP
 35029  2022-10-31 23:30:00   0.148   PT15VP
 35030  2022-10-31 23:45:00   0.132   PT15VP
 35031  2022-11-01 00:00:00   0.088   PT15VP

 [35032 rows x 3 columns],
                       Time  Energy Location
 0      2021-11-01 00:15:00   0.828   PT69QG
 1      2021-11-01 00:30:00   0.796   PT69QG
 2      2021-11-01 00:45:00   0.832   PT69QG
 3      2021-11-01 01:00:00   0.800   PT69QG
 4      2021-11-01 01:15:00   0.836   PT69QG
 ...                    ...     ...      ...
 35027  2022-10-31 23:00:00   0.220   PT69QG
 35028  2022-10-31 23:15:00   0.252   PT69QG
 35029  2022-10-31 23:30:00   0.268   PT69QG
 35030  2022-10-31 23:45:00   0.276   PT69QG
 35031  2022-11-01 00:00:00   0.288   PT69QG

 [35032 rows x 3 columns],
                       Time  Energy Location
 0      2021-11-01 00:15:00   0.128   PT43QL
 1      2021-11-01 00:30:00   0.160   PT43QL
 2      2021-11-01 00:45:00   0.220   PT43QL
 3      2021-11-01 01:00:00   0.404   PT43QL
 4      2021-11-01 01:15:00   0.156   PT43QL
 ...                    ...     ...      ...
 35027  2022-10-31 23:00:00   0.164   PT43QL
 35028  2022-10-31 23:15:00   0.228   PT43QL
 35029  2022-10-31 23:30:00   0.224   PT43QL
 35030  2022-10-31 23:45:00   0.212   PT43QL
 35031  2022-11-01 00:00:00   0.148   PT43QL

 [35032 rows x 3 columns],
                       Time  Energy Location
 0      2021-11-01 00:15:00   0.056   PT17RW
 1      2021-11-01 00:30:00   0.056   PT17RW
 2      2021-11-01 00:45:00   0.056   PT17RW
 3      2021-11-01 01:00:00   0.088   PT17RW
 4      2021-11-01 01:15:00   0.116   PT17RW
 ...                    ...     ...      ...
 35027  2022-10-31 23:00:00   0.144   PT17RW
 35028  2022-10-31 23:15:00   0.164   PT17RW
 35029  2022-10-31 23:30:00   0.220   PT17RW
 35030  2022-10-31 23:45:00   0.176   PT17RW
 35031  2022-11-01 00:00:00   0.132   PT17RW

 [35032 rows x 3 columns],
                       Time  Energy Location
 0      2021-11-01 00:15:00   0.552   PT87ZW
 1      2021-11-01 00:30:00   0.492   PT87ZW
 2      2021-11-01 00:45:00   0.308   PT87ZW
 3      2021-11-01 01:00:00   0.156   PT87ZW
 4      2021-11-01 01:15:00   0.160   PT87ZW
 ...                    ...     ...      ...
 35027  2022-10-31 23:00:00   0.368   PT87ZW
 35028  2022-10-31 23:15:00   0.396   PT87ZW
 35029  2022-10-31 23:30:00   0.356   PT87ZW
 35030  2022-10-31 23:45:00   0.392   PT87ZW
 35031  2022-11-01 00:00:00   0.356   PT87ZW

 [35032 rows x 3 columns]]

In [21]:
df_location = house_list[0]
for i in house_list[1:]:
    df_location.reset_index(inplace=True, drop=True)
    df_location = pd.concat([df_location, i], axis=0)
df_location.reset_index(drop=True)

                       Time  Energy Location
0       2021-11-01 00:15:00   0.028   PT41CV
1       2021-11-01 00:30:00   0.080   PT41CV
2       2021-11-01 00:45:00   0.092   PT41CV
3       2021-11-01 01:00:00   0.040   PT41CV
4       2021-11-01 01:15:00   0.076   PT41CV
...                     ...     ...      ...
245219  2022-10-31 23:00:00   0.368   PT87ZW
245220  2022-10-31 23:15:00   0.396   PT87ZW
245221  2022-10-31 23:30:00   0.356   PT87ZW
245222  2022-10-31 23:45:00   0.392   PT87ZW
245223  2022-11-01 00:00:00   0.356   PT87ZW

[245224 rows x 3 columns]

In [22]:
df_location.to_pickle("df_location_our_dataset.pkl")