In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
weather = pd.read_csv('Weather_Aveiro.csv', sep=";")
weather = weather.rename(columns={'ANO': 'year', 'MS': 'month', 'DI': 'day', 'HR': 'hour', 'MN': 'minute'})
weather['Time'] = pd.to_datetime(weather[['year', 'month', 'day', 'hour', 'minute']])
first_column = weather.pop('Time')
weather.insert(0, 'Time', first_column)
weather.drop(['ESTACAO', 'year', 'month', 'day', 'hour', 'minute'], axis=1, inplace=True)
weather

,Time,PS_EST,PS_NMM,PR_V3h,PR_TDC,T_INST,T_MED,T_MAX,T_MIN,T_DP,...,T_20_X,T_20_N,T_20_D,T_50_I,T_100I,PR_DUR,PR_QTD,PR_I_X,RG_TOT,RD_TOT
0,2022-05-01 00:00:00,1023.9,1024.6,-990.0,-990.0,14.3,14.4,14.5,14.3,0.1,...,-990.0,-990.0,-990.0,-990.0,-990.0,10.0,0.0,0.0,0.0,-990.0
1,2022-05-01 00:10:00,1023.9,1024.6,-990.0,-990.0,14.3,14.4,14.5,14.3,0.1,...,-990.0,-990.0,-990.0,-990.0,-990.0,10.0,0.0,0.0,0.0,-990.0
2,2022-05-01 00:20:00,1023.9,1024.5,-990.0,-990.0,14.3,14.4,14.4,14.3,0.1,...,-990.0,-990.0,-990.0,-990.0,-990.0,10.0,0.0,0.0,0.0,-990.0
3,2022-05-01 00:30:00,1023.8,1024.5,-990.0,-990.0,14.4,14.4,14.5,14.3,0.1,...,-990.0,-990.0,-990.0,-990.0,-990.0,10.0,0.0,0.0,0.0,-990.0
4,2022-05-01 00:40:00,1023.7,1024.4,-990.0,-990.0,14.3,14.3,14.4,14.2,0.1,...,-990.0,-990.0,-990.0,-990.0,-990.0,10.0,0.0,0.0,0.0,-990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74587,2023-09-30 23:10:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,...,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
74588,2023-09-30 23:20:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,...,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
74589,2023-09-30 23:30:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,...,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
74590,2023-09-30 23:40:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,...,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0
74591,2023-09-30 23:50:00,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,...,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0,-990.0

In [3]:
weather_chosen = weather.loc[:,["Time","T_MED","HR_MED","DD_MED","FF_MED","FF_MAX", "T_05_I", "PR_DUR","PR_QTD","PR_I_X","RG_TOT","RD_TOT"]]
weather_chosen = weather_chosen.iloc[576:-4032]
weather_chosen.reset_index(drop=True, inplace=True)
weather_chosen

,Time,T_MED,HR_MED,DD_MED,FF_MED,FF_MAX,T_05_I,PR_DUR,PR_QTD,PR_I_X,RG_TOT,RD_TOT
0,2022-05-05 00:00:00,14.0,92.0,182.0,0.5,1.4,17.0,10.0,0.0,0.0,0.0,-990.0
1,2022-05-05 00:10:00,13.8,92.0,199.0,1.2,1.7,16.9,10.0,0.0,0.0,0.0,-990.0
2,2022-05-05 00:20:00,13.8,92.0,181.0,1.6,2.1,16.8,10.0,0.0,0.0,0.0,-990.0
3,2022-05-05 00:30:00,13.8,92.0,167.0,1.6,2.3,16.8,10.0,0.0,0.0,0.0,-990.0
4,2022-05-05 00:40:00,13.7,92.0,172.0,1.3,2.0,16.8,10.0,0.0,0.0,0.0,-990.0
...,...,...,...,...,...,...,...,...,...,...,...,...
69979,2023-09-02 23:10:00,19.0,82.0,59.0,1.6,2.3,21.2,-990.0,0.0,0.0,0.0,-990.0
69980,2023-09-02 23:20:00,19.1,78.0,60.0,1.6,2.6,21.0,-990.0,0.0,0.0,0.0,-990.0
69981,2023-09-02 23:30:00,19.3,75.0,26.0,1.1,1.8,20.9,-990.0,0.0,0.0,0.0,-990.0
69982,2023-09-02 23:40:00,19.4,75.0,35.0,1.3,2.0,20.9,-990.0,0.0,0.0,0.0,-990.0
69983,2023-09-02 23:50:00,19.5,74.0,38.0,1.5,2.3,21.1,-990.0,0.0,0.0,0.0,-990.0

In [4]:
print("NaN values:",weather_chosen.isna().sum())
print("Negative values:\n",(weather_chosen.iloc[:,1:] < 0).sum())
#print("Zero values:\n",(weather_chosen.iloc[:,1:] == 0).sum())

NaN values: Time      0
T_MED     0
HR_MED    0
DD_MED    0
FF_MED    0
FF_MAX    0
T_05_I    0
PR_DUR    0
PR_QTD    0
PR_I_X    0
RG_TOT    0
RD_TOT    0
dtype: int64
Negative values:
 T_MED         8
HR_MED        8
DD_MED        0
FF_MED        0
FF_MAX        0
T_05_I        6
PR_DUR    45853
PR_QTD        0
PR_I_X        0
RG_TOT        6
RD_TOT    69984
dtype: int64

In [5]:
# Drop features that have a lot of missing values
weather_final = weather_chosen.drop(["PR_DUR", "RD_TOT"],axis=1)
weather_final

,Time,T_MED,HR_MED,DD_MED,FF_MED,FF_MAX,T_05_I,PR_QTD,PR_I_X,RG_TOT
0,2022-05-05 00:00:00,14.0,92.0,182.0,0.5,1.4,17.0,0.0,0.0,0.0
1,2022-05-05 00:10:00,13.8,92.0,199.0,1.2,1.7,16.9,0.0,0.0,0.0
2,2022-05-05 00:20:00,13.8,92.0,181.0,1.6,2.1,16.8,0.0,0.0,0.0
3,2022-05-05 00:30:00,13.8,92.0,167.0,1.6,2.3,16.8,0.0,0.0,0.0
4,2022-05-05 00:40:00,13.7,92.0,172.0,1.3,2.0,16.8,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
69979,2023-09-02 23:10:00,19.0,82.0,59.0,1.6,2.3,21.2,0.0,0.0,0.0
69980,2023-09-02 23:20:00,19.1,78.0,60.0,1.6,2.6,21.0,0.0,0.0,0.0
69981,2023-09-02 23:30:00,19.3,75.0,26.0,1.1,1.8,20.9,0.0,0.0,0.0
69982,2023-09-02 23:40:00,19.4,75.0,35.0,1.3,2.0,20.9,0.0,0.0,0.0
69983,2023-09-02 23:50:00,19.5,74.0,38.0,1.5,2.3,21.1,0.0,0.0,0.0

In [6]:
def resample_dataset_15_minutes(df):
    df['Time'] = pd.to_datetime(df['Time'])
    start = time.time()
    df_ind = df.set_index('Time')
    df_split = np.array_split(df_ind, len(df_ind)/6)
    df_time = df_ind.resample('15T').apply(lambda x: x[0])
    df_split15 = np.array_split(df_time, len(df_time)/4)
    for hour in range(len(df_split)):
        for col in range(df_time.shape[1]):
            df_split15[hour].iloc[0,col] = df_split[hour].iloc[0,col]
            df_split15[hour].iloc[1,col] = (df_split[hour].iloc[1,col] + df_split[hour].iloc[2,col]) / 2
            df_split15[hour].iloc[2,col] = df_split[hour].iloc[3,col]
            df_split15[hour].iloc[3,col] = (df_split[hour].iloc[4,col] + df_split[hour].iloc[5,col]) / 2
    df_concat = pd.DataFrame(np.concatenate(df_split15))
    dataframe = pd.DataFrame()
    dataframe.index = pd.date_range(start='2022-05-05', end='2023-09-03', closed='left', freq='15T')
    dataframe['Time'] = dataframe.index
    dataframe = dataframe.reset_index(drop=True)
    df_resampled = pd.concat([dataframe, df_concat], axis=1)
    print('Elapsed time: %.4f seconds' % (time.time() - start))
    return df_resampled

In [7]:
weather_resample = resample_dataset_15_minutes(weather_final)
weather_resample.columns = weather_final.columns
weather_resample

Elapsed time: 13.9291 seconds

/tmp/ipykernel_2608260/2800477347.py:16: FutureWarning: Argument `closed` is deprecated in favor of `inclusive`.
  dataframe.index = pd.date_range(start='2022-05-05', end='2023-09-03', closed='left', freq='15T')

,Time,T_MED,HR_MED,DD_MED,FF_MED,FF_MAX,T_05_I,PR_QTD,PR_I_X,RG_TOT
0,2022-05-05 00:00:00,14.00,92.0,182.0,0.50,1.40,17.00,0.0,0.0,0.0
1,2022-05-05 00:15:00,13.80,92.0,190.0,1.40,1.90,16.85,0.0,0.0,0.0
2,2022-05-05 00:30:00,13.80,92.0,167.0,1.60,2.30,16.80,0.0,0.0,0.0
3,2022-05-05 00:45:00,13.65,92.0,166.0,1.20,1.90,16.80,0.0,0.0,0.0
4,2022-05-05 01:00:00,13.50,93.0,172.0,1.10,2.00,16.80,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
46651,2023-09-02 22:45:00,19.25,84.5,281.5,0.95,1.70,21.55,0.0,0.0,0.0
46652,2023-09-02 23:00:00,19.10,82.0,163.0,1.30,2.30,21.50,0.0,0.0,0.0
46653,2023-09-02 23:15:00,19.05,80.0,59.5,1.60,2.45,21.10,0.0,0.0,0.0
46654,2023-09-02 23:30:00,19.30,75.0,26.0,1.10,1.80,20.90,0.0,0.0,0.0
46655,2023-09-02 23:45:00,19.45,74.5,36.5,1.40,2.15,21.00,0.0,0.0,0.0

In [8]:
tmp = weather_resample.iloc[:,1:]
tmp[tmp < 0] = np.nan
weather_resample.iloc[:,1:] = tmp
weather_resample

,Time,T_MED,HR_MED,DD_MED,FF_MED,FF_MAX,T_05_I,PR_QTD,PR_I_X,RG_TOT
0,2022-05-05 00:00:00,14.00,92.0,182.0,0.50,1.40,17.00,0.0,0.0,0.0
1,2022-05-05 00:15:00,13.80,92.0,190.0,1.40,1.90,16.85,0.0,0.0,0.0
2,2022-05-05 00:30:00,13.80,92.0,167.0,1.60,2.30,16.80,0.0,0.0,0.0
3,2022-05-05 00:45:00,13.65,92.0,166.0,1.20,1.90,16.80,0.0,0.0,0.0
4,2022-05-05 01:00:00,13.50,93.0,172.0,1.10,2.00,16.80,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
46651,2023-09-02 22:45:00,19.25,84.5,281.5,0.95,1.70,21.55,0.0,0.0,0.0
46652,2023-09-02 23:00:00,19.10,82.0,163.0,1.30,2.30,21.50,0.0,0.0,0.0
46653,2023-09-02 23:15:00,19.05,80.0,59.5,1.60,2.45,21.10,0.0,0.0,0.0
46654,2023-09-02 23:30:00,19.30,75.0,26.0,1.10,1.80,20.90,0.0,0.0,0.0
46655,2023-09-02 23:45:00,19.45,74.5,36.5,1.40,2.15,21.00,0.0,0.0,0.0

In [9]:
print("NaN values:",weather_resample.isna().sum())
#print("Negative values:\n",(weather_resample.iloc[:,1:] < 0).sum())
print("Zero values:\n",(weather_resample.iloc[:,1:] == 0).sum())

NaN values: Time      0
T_MED     6
HR_MED    6
DD_MED    0
FF_MED    0
FF_MAX    0
T_05_I    5
PR_QTD    0
PR_I_X    0
RG_TOT    5
dtype: int64
Zero values:
 T_MED         0
HR_MED        0
DD_MED      100
FF_MED        0
FF_MAX        0
T_05_I        0
PR_QTD    44762
PR_I_X    44723
RG_TOT    20166
dtype: int64

In [10]:
weather_resample.min(), weather_resample.max()

(Time      2022-05-05 00:00:00
 T_MED                     1.6
 HR_MED                   19.5
 DD_MED                    0.0
 FF_MED                    0.1
 FF_MAX                    0.2
 T_05_I                    5.1
 PR_QTD                    0.0
 PR_I_X                    0.0
 RG_TOT                    0.0
 dtype: object,
 Time      2023-09-02 23:45:00
 T_MED                    38.4
 HR_MED                  100.0
 DD_MED                  360.0
 FF_MED                   14.2
 FF_MAX                   22.4
 T_05_I                   41.1
 PR_QTD                    7.0
 PR_I_X                  102.0
 RG_TOT                  692.6
 dtype: object)

In [11]:
weather_resample = weather_resample.iloc[48:,:]
weather_resample.reset_index(drop=True, inplace=True)

weather_resample = weather_resample.rename(columns={"T_MED":"Avg_Temp","HR_MED":"Avg_Rel_Humidity","DD_MED":"Avg_Wind_Direction","FF_MED":"Avg_Wind_Speed",
"FF_MAX":"Max_Inst_Wind_Speed","T_05_I":"Inst_Temp","PR_QTD":"Quantity_Precip","PR_I_X":"Max_Inst_Precip","RG_TOT":"Total_Global_Rad"})

weather_resample

,Time,Avg_Temp,Avg_Rel_Humidity,Avg_Wind_Direction,Avg_Wind_Speed,Max_Inst_Wind_Speed,Inst_Temp,Quantity_Precip,Max_Inst_Precip,Total_Global_Rad
0,2022-05-05 12:00:00,22.70,62.0,305.0,3.80,5.40,24.40,0.0,0.0,526.00
1,2022-05-05 12:15:00,22.55,63.5,311.5,4.05,5.70,24.55,0.0,0.0,523.35
2,2022-05-05 12:30:00,22.10,64.0,311.0,4.10,6.00,24.80,0.0,0.0,520.00
3,2022-05-05 12:45:00,21.95,62.5,300.0,4.45,6.05,24.90,0.0,0.0,514.40
4,2022-05-05 13:00:00,22.20,62.0,314.0,4.00,5.20,24.90,0.0,0.0,507.00
...,...,...,...,...,...,...,...,...,...,...
46603,2023-09-02 22:45:00,19.25,84.5,281.5,0.95,1.70,21.55,0.0,0.0,0.00
46604,2023-09-02 23:00:00,19.10,82.0,163.0,1.30,2.30,21.50,0.0,0.0,0.00
46605,2023-09-02 23:15:00,19.05,80.0,59.5,1.60,2.45,21.10,0.0,0.0,0.00
46606,2023-09-02 23:30:00,19.30,75.0,26.0,1.10,1.80,20.90,0.0,0.0,0.00
46607,2023-09-02 23:45:00,19.45,74.5,36.5,1.40,2.15,21.00,0.0,0.0,0.00

In [12]:
energy = pd.read_csv("new_loureiro.csv")
energy.Time = pd.to_datetime(energy.Time)
energy = energy.sort_values(by='Time')
energy = energy.iloc[48:,:]
energy.reset_index(drop=True, inplace=True)
energy

,Time,Energy_1,Energy_2,Energy_3,Energy_4,Energy_5,Energy_6,Energy_7,Energy_8,Energy_9,...,Energy_163,Energy_164,Energy_165,Energy_166,Energy_167,Energy_168,Energy_169,Energy_170,Energy_171,Energy_172
0,2022-05-05 12:00:00,0.068,NaN,0.034,0.038,0.000,NaN,NaN,NaN,NaN,...,NaN,0.004,0.0,NaN,NaN,NaN,0.395,NaN,NaN,0.008
1,2022-05-05 12:15:00,0.070,NaN,0.044,0.062,0.006,NaN,NaN,NaN,NaN,...,NaN,0.003,0.0,NaN,NaN,NaN,0.316,NaN,NaN,0.056
2,2022-05-05 12:30:00,0.122,NaN,0.037,0.045,0.000,NaN,NaN,NaN,NaN,...,NaN,0.004,0.0,NaN,NaN,NaN,0.264,NaN,NaN,0.033
3,2022-05-05 12:45:00,0.132,NaN,0.015,0.039,0.000,NaN,NaN,NaN,NaN,...,NaN,0.004,0.0,NaN,NaN,NaN,0.139,NaN,NaN,0.062
4,2022-05-05 13:00:00,0.125,NaN,0.015,0.040,0.032,NaN,NaN,NaN,NaN,...,NaN,0.004,0.0,NaN,NaN,NaN,0.138,NaN,NaN,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46603,2023-09-02 22:45:00,0.145,0.044,0.187,0.061,0.000,NaN,0.007,0.029,0.089,...,0.066,0.003,0.0,0.009,0.043,0.217,0.189,NaN,0.071,0.055
46604,2023-09-02 23:00:00,0.163,0.135,0.278,0.056,0.000,NaN,0.008,0.032,0.094,...,0.066,0.004,0.0,0.008,0.042,0.242,0.171,NaN,0.072,0.062
46605,2023-09-02 23:15:00,0.180,0.072,0.118,0.050,0.000,NaN,0.021,0.021,0.077,...,0.066,0.003,0.0,0.006,0.056,0.239,0.186,NaN,0.068,0.023
46606,2023-09-02 23:30:00,0.143,0.098,0.319,0.071,0.000,NaN,0.021,0.012,0.068,...,0.066,0.004,0.0,0.007,0.039,0.201,0.215,NaN,0.063,0.035
46607,2023-09-02 23:45:00,0.140,0.069,0.309,0.035,0.000,NaN,0.012,0.047,0.075,...,0.067,0.004,0.0,0.007,0.049,0.267,0.149,NaN,0.071,0.034

In [13]:
df = weather_resample.merge(energy, on='Time', how='inner')
df

,Time,Avg_Temp,Avg_Rel_Humidity,Avg_Wind_Direction,Avg_Wind_Speed,Max_Inst_Wind_Speed,Inst_Temp,Quantity_Precip,Max_Inst_Precip,Total_Global_Rad,...,Energy_163,Energy_164,Energy_165,Energy_166,Energy_167,Energy_168,Energy_169,Energy_170,Energy_171,Energy_172
0,2022-05-05 12:00:00,22.70,62.0,305.0,3.80,5.40,24.40,0.0,0.0,526.00,...,NaN,0.004,0.0,NaN,NaN,NaN,0.395,NaN,NaN,0.008
1,2022-05-05 12:15:00,22.55,63.5,311.5,4.05,5.70,24.55,0.0,0.0,523.35,...,NaN,0.003,0.0,NaN,NaN,NaN,0.316,NaN,NaN,0.056
2,2022-05-05 12:30:00,22.10,64.0,311.0,4.10,6.00,24.80,0.0,0.0,520.00,...,NaN,0.004,0.0,NaN,NaN,NaN,0.264,NaN,NaN,0.033
3,2022-05-05 12:45:00,21.95,62.5,300.0,4.45,6.05,24.90,0.0,0.0,514.40,...,NaN,0.004,0.0,NaN,NaN,NaN,0.139,NaN,NaN,0.062
4,2022-05-05 13:00:00,22.20,62.0,314.0,4.00,5.20,24.90,0.0,0.0,507.00,...,NaN,0.004,0.0,NaN,NaN,NaN,0.138,NaN,NaN,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46603,2023-09-02 22:45:00,19.25,84.5,281.5,0.95,1.70,21.55,0.0,0.0,0.00,...,0.066,0.003,0.0,0.009,0.043,0.217,0.189,NaN,0.071,0.055
46604,2023-09-02 23:00:00,19.10,82.0,163.0,1.30,2.30,21.50,0.0,0.0,0.00,...,0.066,0.004,0.0,0.008,0.042,0.242,0.171,NaN,0.072,0.062
46605,2023-09-02 23:15:00,19.05,80.0,59.5,1.60,2.45,21.10,0.0,0.0,0.00,...,0.066,0.003,0.0,0.006,0.056,0.239,0.186,NaN,0.068,0.023
46606,2023-09-02 23:30:00,19.30,75.0,26.0,1.10,1.80,20.90,0.0,0.0,0.00,...,0.066,0.004,0.0,0.007,0.039,0.201,0.215,NaN,0.063,0.035
46607,2023-09-02 23:45:00,19.45,74.5,36.5,1.40,2.15,21.00,0.0,0.0,0.00,...,0.067,0.004,0.0,0.007,0.049,0.267,0.149,NaN,0.071,0.034

In [14]:
weather_resample.to_csv("../../data/weather_aveiro_final.csv", index=False)
energy.to_csv("../../data/energy_loureiro_final.csv", index=False)
df.to_csv("../../data/loureiro_complete.csv", index=False)